<div id="page_wrapper">
	<div id="profile_image">
		
 	</div>

 	<div id="content">
 		<h1>Welcome to my blog</h1>
 		<h2>I am Wehelie Adan</h2>
 		<p>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis blanditiis iusto velit placeat, corrupti odio aliquam, asperiores, excepturi enim amet tempora distinctio ipsum fugit. Inventore debitis, assumenda quae culpa omnis?
 		</p>
 		<p>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptatibus ducimus aperiam dolorum! Aspernatur fugit soluta, maiores possimus! Commodi a, similique temporibus odit placeat fuga. Doloremque pariatur minus consectetur expedita.
 		</p>

 		<p>
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorum, nesciunt sed deleniti <a href="http://twitter.com/geogrefer">@geogrefer</a> rem distinctio! Inventore tempora nobis eaque molestiae mollitia, repellendus est voluptatum quidem fugiat excepturi quae laudantium!
 		</p>
 	</div>
</div>